*.py[cod]

dev.Dockerfile
docker-compose.yml
docker-compose.yaml
.docker
.env/
.ENV/
env/
ENV/
.idea/
media/
dev_utils.py
*.sh
*.bak
*~
logs
docker
build
dist
*.egg-info
*local.py
dumps_sql
*_new.py
*_old.py
media

.vscode
*.sqlite3
Makefile
todo
rsync_*
database/
.DS_Store
.token
*.tgz
cache
*.sql
todo.txt
